.locker-container {
    display: flex;
    justify-content: flex-end;
	align-items:center; 
	margin-right: 75px;
	flex: 0 !important;
}

#token-hud .control-icon {
    margin-right: 8px;
}

.col.locker-column {
flex-direction: column; 
left: -130px;
width: 70px;
padding-top: 20px;
}
